In [1]:
import pandas as pd
import matplotlib.pyplot as plt

pd.set_option('display.max_columns', None)

df = pd.read_csv('../data/clean/projects_cleaned.csv')
df.head()

Matplotlib is building the font cache; this may take a moment.

,Project Type,Project Type Name,Budget Line,Budget Line Title,Funding Type,Fiscal Year,Amount
0,AG,DEPARTMENT FOR THE AGING,AG 0001,IMPROVEMENTS TO PROPERTY USED BY DEPARTMENT FO...,C,2019,3306783.0
1,AG,DEPARTMENT FOR THE AGING,AG 0002,"PURCHASE OF AUTOS, COMPUTERS, OTHER EQUIP FOR ...",C,2019,0.0
2,AG,DEPARTMENT FOR THE AGING,AG MN235,"LENOX HILL NEIGHBORHOOD HOUSE, INC.",C,2019,50000.0
3,BR,WATERWAY BRIDGES,BR 0231,"QUEENSBORO BRIDGE, REHABILITATION",C,2019,141151222.0
4,BR,WATERWAY BRIDGES,BR 0253,RECONSTRUCTION OF WILLIAMSBURG BRIDGE,C,2019,0.0

In [ ]:
df.info()